*{background-color:azure;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;}

#opinion{border-radius: 10%;
}

#final{border-radius: 10%;
}

#titulo{font-size: 75px;
text-align: center;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

#foto1{align-items: center;
margin-left: 500px;
width: 700px;}

#comentario{font-size: larger;}

#logoj{height: 300px;
float: right;
margin-right: 300px;
}